/target/
**/target/
.idea/
.vscode/
*.swp
*.swo
.DS_Store
.env
.env.local
Secrets.toml
*.log
npm-debug.log*
/node_modules/
frontend/dist/
/build/
backend/static/
*.db
*.sqlite
*.sqlite3
*.pdb
/coverage/
/tmp/
.tmp/
.shuttle/
**/.shuttle//target
.shuttle*
Secrets*.toml